
@font-face {
  font-family: 'PTRoubleSans';
  src: url('PTRoubleSans.eot?#iefix') format('embedded-opentype'),  url('PTRoubleSans.otf')  format('opentype'),
	     url('PTRoubleSans.woff') format('woff'), url('PTRoubleSans.ttf')  format('truetype'), url('PTRoubleSans.svg#PTRoubleSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
